@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

$base-font-family: sans-serif;
$base-text-size: 16px;

html {
  height: 100vh;
}

body {
  font: $base-text-size / 1 $base-font-family;
  color: hsl(220, 75%, 30%);
  margin: 0;
}

body,
#root,
.app {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2em;
  margin: 1em;
  text-align: center;
  opacity: 0.25;
}

.word {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 5em;
  text-transform: uppercase;

  span {
    display: inline-block;
    width: 0.6em;
    text-align: center;
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-button {
  font-family: 'Futura', 'Trebuchet MS', sans-serif;
  font-size: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  text-transform: uppercase;
  background-color: hsl(220, 75%, 80%);
  border: 2px solid hsl(220, 75%, 50%);
  margin: 0.2em;
}

.letter-button:disabled {
  opacity: 0.33;
}
